<widget id="com.pgbttest" version="1.0.0">
        <name>DuckTours BT Test</name>
        <description>
            Duck Tours Tourist Pass Redemption Manager
        </description>
        <author email="john.wood@riaform.com" href="http://workflowfirst.com">
            RiaForm Technology
        </author>
        <content src="index.html" />
        <access origin="*" />
	    <preference name="stay-in-webview" value="true" />         
    <preference name="permissions"                value="none"/>
	    
	    <plugin name="cordova-plugin-whitelist" version="1" />
		<plugin name="com.megster.cordova.bluetoothserial" spec="0.2.2" source="pgb" />
	    <allow-intent href="http://*/*" />
	    <allow-intent href="https://*/*" />
	    <allow-intent href="tel:*" />
	    <allow-intent href="sms:*" />
	    <allow-intent href="mailto:*" />
	    <allow-intent href="geo:*" />
	    <platform name="android">
	        <allow-intent href="market:*" />
	    </platform>
	    <platform name="ios">
	        <allow-intent href="itms:*" />
	        <allow-intent href="itms-apps:*" />
	    </platform>
	    <icon src="tdicon.png" />
    	    
    </widget>
    